<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
</head>
<body>
<form method='post'>
    <input type = 'text' name = 'name' />
    <select name = 'language'>
        <option value = 'english'>English</option>
        <option value = 'french'>French</option>
        <option value = 'italian'>Italian</option>
        <option value = 'spanish'>Spanish</option>
        <option value = 'german'>German</option>
        </select>
    <input type = 'submit' value = 'Greet Me!' />
    </form>
</body>
</html>